 body {
   background-image:url(https://i.ytimg.com/vi/7ysU9W3QQcU/maxresdefault.jpg);
   background-size:cover;
 }

      #roomOneAdd {
        width:300px;
        height:300px;
        background-color:#ff300b;
        float:left;
        opacity:0.85;
      }
      #roomTwoAdd {
        width:300px;
        height:300px;
        background-color:#065ff6;
        float:left;
        opacity:0.85;
      }
      #roomThreeAdd {
        width:300px;
        height:300px;
        background-color:#f4f606;
        float:left;
        opacity:0.85;
      }
        #roomFourAdd {
        width:300px;
        height:300px;
        background-color:#5affa8;
        float:left;
        opacity:0.85;
      }